*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: aquamarine;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: gold;
    font-style: italic;
}
nav ul {
    display: inline-flex;
    list-style: none;
}
ul li a{
    color: rgb(250, 218, 37);
    text-decoration: none;
    padding: 1rem;
    font-size: 18px;
}
.nav-btn{
    display: none;
    color: floralwhite;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
}
main{
    min-height: 100vh;
}
.home{
    background-color: rgb(red, green, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/459402/pexels-photo-459402.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-size: cover;
    background-position: center;
     
}
.hm-txt{
    text-align: center;
    width: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(red, green, blue, alpha);
    padding: 2rem;
    border-radius: 5px;
}
.hm-txt h1{
    font-size: 3rem;
    color: aquamarine;
    margin-bottom: 1rem;
}
.hm-txt p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: red;
}
.btn{
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.btn :hover{
    background-color: white;
    color: white;
}
.services{
    min-height: 90vh;
    padding: 2rem 4rem;
}
.service>h2{
    font-size: 2.5rem;
    color: orange;
    text-align: center;
    margin-bottom: 2rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.service-box{
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px   rgba(0,0,0,0.1);
    text-align: center;
    
}
.service-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.service-box h3{
    font-size: 1.5rem;
    color: black;
    margin: 1rem 0;
}
.service-box p{
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}
footer{
    background-color: #0a241b;
    color: white;
    text-align:center ;
    padding: 1rem;
    min-height: 15vh;
    width: 100%;
    
}
@media only screen and(max-width:600px){
    .nav-list{
        display: none;

    }
    .logo{
        font-size: 1rem;
        text-align: center;
    }
    .nav-btn{
        display: block;
    }
    .hm-txt{
        width: 80%;
    }
}